<%- include ('header'); %>

    <h1>To do:</h1>

    <form action="/tasks" method="post">
        <input class="todo-input" id="prompt" type="text" name="newItem">
        <button class="todo-button" type="submit" name="button">+</button>
    </form>

    <div class="todo-container">
        <ul class="todo-list">
            <% for (let i=0; i < items.length; i++){ %>

                <form action="/tasks/delete" method="post">
                    <div class="todo">
                        <label for="checkbox">
                            <input  id="checkbox" type="checkbox" name="checkbox" value="<%= items[i]._id %>" onChange="this.form.submit()">
                            <span class="label-text"><%=items[i].taskName%></span>
                        </label>
                    </div>
                </form>
            <% } %>
        </ul>
    </div>

    <%- include ('footer'); %>